.navbar {
  padding: 20px;
  margin: 0 auto;
  max-width: 1440px;
}

.navbar ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  border-bottom: 2px solid #dbdbdb;
  padding-bottom: 10px;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  color: #b2b2b2;
  letter-spacing: 1px;
  font-size: 1em;
  padding-bottom: 10px;
}

.navbar ul li a:hover {
  color: #6ca0c5;
}

.navbar ul li a.active {
  color: #1f1f1f;
}

.navbar ul li a.active:hover {
  color: #1f1f1f;
  cursor: default;
}

.navbar .underline {
  position: absolute;
  bottom: -2px;
  height: 2px;
  background-color: #1f1f1f;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 980px) {
  .navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: none;
  }

  .navbar ul li {
    padding: 15px 0;
  }

  .navbar ul li a {
    padding-bottom: 4px;
  }

  .navbar ul li a.active {
    border-bottom: 2px solid #1f1f1f;
  }

  .navbar .underline {
    display: none;
  }
}